*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1; }

.application__wrapper {
  padding: 20px 5%;
  font-family: 'Roboto'; }
  .application__wrapper .title {
    text-align: center;
    margin-top: 20px; }
  .application__wrapper .subtitle {
    padding: 5px;
    text-align: center; }
  .application__wrapper .intro {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    font-size: 1.25rem;
    line-height: 1.75rem; }
