*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1; }

.application__wrapper {
  padding: 5%;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.8); }
  .application__wrapper a {
    text-decoration: none;
    color: #0693C0;
    transition: color 250ms; }
    .application__wrapper a:hover {
      color: #045a76; }
  .application__wrapper .image__wrapper {
    margin-top: 20px; }
    .application__wrapper .image__wrapper ul.image__list {
      font-size: 0; }
      .application__wrapper .image__wrapper ul.image__list li.image {
        font-size: 0;
        width: 32%;
        margin-right: 2%;
        display: inline-block; }
        .application__wrapper .image__wrapper ul.image__list li.image:nth-child(3n) {
          margin-right: 0; }
        .application__wrapper .image__wrapper ul.image__list li.image img {
          max-width: 100%; }
  .application__wrapper .title {
    text-align: center;
    width: 40%;
    margin: 64px auto; }
    .application__wrapper .title img {
      width: 100%; }
    @media (max-width: 900px) {
      .application__wrapper .title {
        width: 50%; } }
    @media (max-width: 670px) {
      .application__wrapper .title {
        width: 70%; } }
    @media (max-width: 400px) {
      .application__wrapper .title {
        width: 90%; } }
  .application__wrapper .subtitle {
    margin: 48px 0;
    text-align: center; }
  .application__wrapper .intro {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem; }
  .application__wrapper .button__wrapper {
    margin: 48px 0;
    text-align: center; }
    .application__wrapper .button__wrapper .info__button {
      margin-right: 15px;
      padding: 0.75rem 0.9rem;
      font-size: 1rem;
      line-height: 1;
      background: none;
      border: 2px solid #0693C0;
      border-radius: 4px;
      overflow: hidden;
      color: #0693C0;
      transition: color 0.2s ease-in;
      outline: none;
      user-select: none;
      text-transform: uppercase;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent; }
      .application__wrapper .button__wrapper .info__button::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 105%;
        height: 105%;
        z-index: -1;
        background: #0693C0;
        transition: top 0.25s; }
      .application__wrapper .button__wrapper .info__button:hover {
        cursor: pointer;
        color: #FDFDFD; }
        .application__wrapper .button__wrapper .info__button:hover::after {
          top: 0; }
      @media (max-width: 500px) {
        .application__wrapper .button__wrapper .info__button {
          font-size: 0.9rem;
          padding: 0.5rem 0.75rem;
          margin-bottom: 15px; } }
