*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1;
}

// Color Pallette
$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$deep-purple: #673AB7;
$indigo: #3F51B5;
$blue: #0693C0;
$light-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$lime: #CDDC39;
$yellow: #FBD133;
$amber: #FFC107;
$orange: #FF9800;
$deep-orange: #FF5722;
$brown: #795548;
$grey: #BDBDBD;
$light-grey: #ebebeb;
$blue-grey: #607D8B;
$black: #333333;
$white: #FDFDFD;

.application__wrapper {
  padding: 5%;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.8);

  a {
    text-decoration: none;
    color: $blue;
    transition: color 250ms;

    &:hover {
      color: darken($blue, 15%);
    }
  }

  .image__wrapper {
    margin-top: 20px;

    ul.image__list {
      font-size: 0;

      li.image {
        font-size: 0;
        width: 32%;
        margin-right: 2%;
        display: inline-block;

        &:nth-child(3n) {
          margin-right: 0;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }

  .title {
    text-align: center;
    width: 40%;
    margin: 64px auto;

    img {
      width: 100%;
    }

    @media (max-width: 900px) {
      width: 50%;
    }

    @media (max-width: 670px) {
      width: 70%;
    }

    @media (max-width: 400px) {
      width: 90%;
    }
  }

  .subtitle {
    margin: 48px 0;
    text-align: center;
  }

  .intro {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .button__wrapper {
    margin: 48px 0;
    text-align: center;

    .info__button {
      margin-right: 15px;
      padding: 0.75rem 0.9rem;
      font-size: 1rem;
      line-height: 1;
      background: none;
      border: 2px solid $blue;
      border-radius: 4px;
      overflow: hidden;
      color: $blue;
      transition: color 0.2s ease-in;
      outline: none;
      user-select: none;
      text-transform: uppercase;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 105%;
        height: 105%;
        z-index: -1;
        background: $blue;
        transition: top 0.25s;
      }

      &:hover {
        cursor: pointer;
        color: $white;

        &::after {
          top: 0;
        }
      }

      @media (max-width: 500px) {
        font-size: 0.9rem;
        padding: 0.5rem 0.75rem;
        margin-bottom: 15px;
      }
    }
  }
}
